<form class="form-horizontal container" [formGroup]="editForm" (ngSubmit)="onFormSubmit()">
  <div class="row register-header">
    <div class="col-lg-8">
      <h5>Edit ToDo</h5>
    </div>
  </div>
  <fieldset>
    <div class="form-group col-lg-8">
      <label for="inputSubject" class="control-label">ID: </label> {{data.id}}
    </div>
    <div class="form-group col-lg-8">
      <label for="inputSubject" class="control-label">Subject</label>
      <input type="text" class="form-control" id="inputSubject" formControlName="subject">
    </div>
    <div class="form-group col-lg-8">
      <label for="inputComment" class="control-label">Comment</label>
      <input type="text" formControlName="comment" id="inputComment" class="form-control">
    </div>
    <div class="form-group col-lg-8">
      <label for="inputDate" class="control-label">Date</label>
      <input type="date" formControlName="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
    </div>
    <div class="form-group col-lg-8 submit-register">
      <button type="submit" [disabled]="!editForm.valid" class="form-submit-button btn btn-primary">Edit</button>
    </div>
  </fieldset>
</form>